# Copyright 2018-2021 Crown Copyright
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: {{ include "filtered-resource-service.name" . }}
  namespace: {{ include "palisade.namespace" . }}
spec:
  entryPoints:
    - web
  routes:
    - match: PathPrefix(`{{ include "filtered-resource-service.root" . }}/filteredResource`)
      kind: Rule
      services:
        - name: {{ include "filtered-resource-service.name" . }}
          port: 80
      middlewares:
        - name: filtered-resource-pathparam-regex
          namespace: {{ include "palisade.namespace" . }}
