# Copyright 2020 Crown Copyright
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "filtered-resource-service.name" . }}
  namespace: {{ include "palisade.namespace" . }}
  labels:
    app.kubernetes.io/name: {{ include "filtered-resource-service.name" . }}
    helm.sh/chart: {{ include "filtered-resource-service.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  serviceName: {{ include "filtered-resource-service.name" . }}-headless
  podManagementPolicy: "Parallel"
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "filtered-resource-service.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "filtered-resource-service.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.global.repository }}/{{ .Values.image.name }}:{{ .Values.image.tag }}"
        command:
        - bash
        - "-c"
        - |
          [[ `hostname` =~ -([0-9]+)$ ]] || exit 1
          ordinal=${BASH_REMATCH[1]}
          java -jar /usr/share/filtered-resource-service/filtered-resource-service.jar \
            --akka.kafka.consumer.kafka-clients.group.id={{ include "filtered-resource-service.name" . }}-$ordinal \
            --akka.kafka.consumer.topics.offset-topic.partitions={{ .Values.replicaCount }} \
            --akka.kafka.consumer.topics.input-topic.partitions={{ .Values.replicaCount }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
          - name: web
            containerPort: {{ .Values.service.internalPort }}
        livenessProbe:
          httpGet:
            path: /health/liveness
            port: {{ .Values.service.internalPort }}
          initialDelaySeconds: 10
          failureThreshold: 5
          periodSeconds: 20
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /health/readiness
            port: {{ .Values.service.internalPort }}
          initialDelaySeconds: 10
          failureThreshold: 5
          periodSeconds: 20
          timeoutSeconds: 5
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        env:
        - name: "LOADER_PATH"
          value: {{ include "filtered-resource-service.deployment.path" . }}
        - name: "SPRING_CONFIG_ADDITIONAL_LOCATION"
          value: {{ include "filtered-resource-service.config.path" . }}
        {{- $envVars := pluck .Values.global.deployment .Values.global.env | first | default .Values.global.env._default }}
        {{- range $item := $envVars }}
        - name: {{ $item.name }}
          value: {{ $item.value }}
        {{- end }}
        volumeMounts:
        - name: {{ include "filtered-resource-service.deployment.fullname" . }}
          mountPath: {{ include "filtered-resource-service.deployment.path" . }}
        - name: config-volume
          mountPath: {{ include "filtered-resource-service.config.path" . }}
      volumes:
      - name: {{ include "filtered-resource-service.deployment.fullname" . }}
        persistentVolumeClaim:
          claimName: {{ include "filtered-resource-service.deployment.fullname" . }}
          readOnly: true
      - name: config-volume
        configMap:
          name: {{ include "filtered-resource-service.name" . }}-configmap
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
