# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
*.tmp
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/
# Add the directory for every service module here
/discovery-service/
/audit-service/
/data-service/
/palisade-service/
/policy-service/
/resource-service/
/user-service/